<footer>
    <div class="container">
        <div class="row">
            <div class="span4">
                <strong><a href="#">Контакты</a></strong><br><br>
                телефон: <span class="phone">233-21-69</span><br>
                адрес: <address><a href="http://go.2gis.com/7wc6">г. Челябинск, Энтузиастов, 15б</a></address>
            </div>

            <div class="span4">
                <strong>Расписание занятий</strong><br><br>
                
                Понедельник, Среда, Пятница <br>
                с 19:00 до 21:00 <br>
                <a href="#">Как добраться?</a>
            </div>

            <div class="span4">
                <strong>Попасть в социальные сети</strong>
                <script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru"
 data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"

></div> 


                <p>&copy; 2013</p>
            </div>

        </div>
    </div>
</footer>