<footer>
    <div class="container">
        <div class="row">
            <div class="span3">
                <strong><a href="/map.html">Контакты</a></strong><br><br>
                телефон: <span class="phone">233-21-69</span><br>
                адрес: <address><a target="_blank" href="http://go.2gis.com/7wc6">г. Челябинск, Энтузиастов, 15б</a></address>
            </div>
            
            <div class="span3">
                <strong>Друзья</strong><br><br>
                
                <a href="http://www.aquastyl74.ru/" target="_blank">Центр подводного плавания Аквастиль</a><br>
                <a href="http://vk.com/club16982169" target="_blank" title="ВКонтакте" class="b-share__handle b-share__link b-share-btn__vkontakte">
                    <span class="b-share-icon b-share-icon_vkontakte"></span>
                    Группа ВКонтакте
                </a>
            </div>

            <div class="span3">
                <strong>Расписание занятий</strong><br><br>

                Понедельник, Среда, Пятница <br>
                с 19:00 до 21:00 <br>
                <a href="/map.html">Как добраться?</a>
            </div>

            <div class="span3">
                <strong>Социальные сети</strong>
                <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
                <p>&copy; 2016</p>
            </div>

        </div>
    </div>
</footer>
